<fieldset class="ok-empowerment-fieldset">
  <legend>{{localize "OKNAJAN.empowerment.title"}}</legend>
  <label>
    <span>{{localize "OKNAJAN.empowerment.howMany"}}</span>
    <input type="number" name="ok-empowerment-count" min="0" max="{{cap}}" value="0"/>
  </label>
  <p class="ok-hint">{{localize "OKNAJAN.empowerment.hint"}}</p>
</fieldset>
