<div class="ok-dialog-modify-spell">
  <label>
    <span>{{localize "OKNAJAN.dialogs.modifySpell.name"}}</span>
    <input type="text" name="ok-name" value="{{name}}"/>
  </label>
  <label>
    <span>{{localize "OKNAJAN.dialogs.modifySpell.description"}}</span>
    <textarea name="ok-desc" rows="6">{{description}}</textarea>
  </label>
</div>
